.main-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 10rem;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "main-grid_content_view main-grid_content_view main-grid_content_view main-grid_content_view" "main-grid_left main-grid_middle main-grid_right main-grid_info";
}

.main-grid>* {
    outline: 1px solid #00000088;
}

.main-grid_content_view {
    grid-area: main-grid_content_view;
}

.main-grid_left {
    grid-area: main-grid_left;
}

.main-grid_middle {
    grid-area: main-grid_middle;
}

.main-grid_right {
    grid-area: main-grid_right;
}

.main-grid_info {
    grid-area: main-grid_info;
}