.main-grid_info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "info-grid_time" "info-grid_people";
}

.main-grid_info>* {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    margin: auto;
    background-color: var(--background2-color);
    border-style: solid;
    border-radius: 10px;
    border-color: var(--background2-color);
    font-size: 1.5rem;
}

.info-grid_time {
    grid-area: info-grid_time;
}

.info-grid_people {
    grid-area: info-grid_people;
    display: inline-block;
}