.mixer {
    grid-area: main-grid_left;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "slider-grid_slider slider-grid_buttons";
}

.slider-grid_slider {
    grid-area: slider-grid_slider;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "slider_slider-left slider_slider-right";
}

.slider_slider-left {
    grid-area: slider_slider-left;
    display: grid;
    place-items: center;
}

.slider_slider-right {
    grid-area: slider_slider-right;
    display: grid;
    place-items: center;
}

.slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 2rem;
    height: 100%;
}

.slider-grid_buttons {
    grid-area: slider-grid_buttons;
}